.container{
    background-color: #ffd569;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-container{
    background-color: #ffffff;
    padding: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.img-container{
    display: flex;
    flex-direction: row;
}

.btn-container{
    display: flex;
    flex-direction: row;
}

.fruit-image{
    height: 200px;
    width: 250px;
    margin-top: 40px;
}

.m-btn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 60px;
    margin-top: 50px;
    border-radius: 5px;
}

.b-btn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 5px;
}

.span-ele{
    color: #ffd569;
}